# This file contains pin mappings for the Creality Ender 5 Plus.
# Ender 5 Plus stock uses a Creality v2.2 board, similar to CR-20 Pro.
# To use this config, the firmware should be compiled for the AVR
# atmega2560.

# See docs/Config_Reference.md for a description of parameters.

#The following Macro is used to replace slicer starting gcode.
#In your slicer replace starting gcode with START_PRINT
[include KAMP_Settings.cfg]
[include Speed.cfg]
[include macro.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[display_status]

[pause_resume]

[exclude_object]

[printer]
kinematics: extended_corexy
home_y_axis_with_b_rail : True
max_velocity: 600
max_accel: 75000
max_z_velocity: 100
max_z_accel: 100
square_corner_velocity: 45.0 #75 speed runs

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_420027000551313433343333-if00

[mcu octo]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_24002D001251333031373837-if00

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_6E3743095157355957202020FF0F0B1C-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 30.884 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
home_z_hop: 3
home_z_hop_speed: 30
home_xy_move_speed: 300
contact_max_hotend_temperature: 280 # increase to probe at print temps
home_xy_position: 180, 180 # update with your safe position
home_method: proximity # use proximity for induction homing
#home_method_when_homed: proximity # after initial calibration use induction
#home_autocalibrate: unhomed # contact will calibrate beacon on first home

# Driver1
[stepper_a] #back right
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 64
rotation_distance: 40
endstop_pin: !PG6
position_endstop: 375
position_max: 375
homing_speed: 200

[tmc5160 stepper_a]
cs_pin: PD11
spi_bus: spi1
##diag1_pin: PG9
run_current: 1.400
interpolate: false
sense_resistor: 0.075
#stealthchop_threshold: 999999

# Driver2
[stepper_a1] #front left
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 64
rotation_distance: 40

[tmc5160 stepper_a1]
cs_pin: PC6
spi_bus: spi1
##diag1_pin: PG10
run_current: 1.40
interpolate: false
sense_resistor: 0.075
#stealthchop_threshold: 999999

[stepper_b] #back left
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 64
rotation_distance: 40
endstop_pin: !PG9
position_endstop: 370
position_max: 370
position_min: 0
homing_speed: 200

[tmc5160 stepper_b]
cs_pin: PC4
spi_bus: spi1
##diag1_pin: PG6
run_current: 1.400
interpolate: false
sense_resistor: 0.075
#stealthchop_threshold: 999999

# Driver3
[stepper_b1] #front right
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA2
#endstop_pin: PG11
microsteps: 64
rotation_distance: 40

[tmc5160 stepper_b1]
cs_pin: PC7
spi_bus: spi1
##diag1_pin: PG11
run_current: 1.400
interpolate: false
sense_resistor: 0.075
#stealthchop_threshold: 999999

# Driver4
[stepper_c] #back left
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
endstop_pin: PG10
microsteps: 64
rotation_distance: 40
position_endstop: 370
position_max: 370
position_min: 0
homing_speed: 200

[tmc5160 stepper_c]
cs_pin: PF2
spi_bus: spi1
run_current: 1.400
interpolate: false
sense_resistor: 0.075
#stealthchop_threshold: 999999

# Driver5
[stepper_c1] #back right
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
microsteps: 64
rotation_distance: 40

[tmc5160 stepper_c1]
cs_pin: PE4
spi_bus: spi1
run_current: 1.400
interpolate: false
sense_resistor: 0.075
#stealthchop_threshold: 999999

# Driver6
[stepper_c2] #front left
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
microsteps: 64
rotation_distance: 40

[tmc5160 stepper_c2]
cs_pin: PE1
spi_bus: spi1
run_current: 1.400
interpolate: false
sense_resistor: 0.075
#stealthchop_threshold: 999999

# Driver7
[stepper_c3] #front right
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
microsteps: 64
rotation_distance: 40

[tmc5160 stepper_c3]
cs_pin: PD3
spi_bus: spi1
run_current: 1.400
interpolate: false
sense_resistor: 0.075
#stealthchop_threshold: 999999

# Driver1
[stepper_z] 
step_pin: octo:PG0
dir_pin: !octo:PG1
enable_pin: !octo:PF15
microsteps: 64
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -4.0
homing_speed: 10.0
homing_retract_dist: 0 # beacon needs this to be set to 0


[tmc2209 stepper_z]
uart_pin: octo:PD11
##diag_pin: PG9
run_current: 0.450 #.65
interpolate: false
sense_resistor: 0.110
#stealthchop_threshold: 999999

# Driver2
[stepper_z1]
step_pin: octo:PF11
dir_pin: !octo:PG3
enable_pin: !octo:PG5
microsteps: 64
rotation_distance: 4
#homing_retract_dist: 0 # beacon needs this to be set to 0
endstop_pin: probe:z_virtual_endstop
#position_max: 400
#position_min: 0
#homing_speed: 10.0


[tmc2209 stepper_z1]
uart_pin: octo:PC6
##diag_pin: PG10
run_current: 0.450 #.65
interpolate: false
sense_resistor: 0.110
#stealthchop_threshold: 999999

# Driver0
[extruder]
step_pin: octo:PF13
dir_pin: !octo:PF12
enable_pin: !octo:PF14
microsteps: 16
#Alu VZhextrudort Moons 8T
rotation_distance: 35.8
gear_ratio: 60:8
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PA0 # HE0
sensor_pin:  PF4 # T0
sensor_type: PT1000

#control: pid
#pid_Kp: 28.737 
#pid_Ki: 1.935 
#pid_Kd: 106.684
min_temp: 0
max_temp: 400
full_steps_per_rotation: 200
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 500
max_extrude_only_velocity: 200
max_extrude_only_accel: 10000
min_extrude_temp: 180
pressure_advance: 0.025
pressure_advance_smooth_time: 0.03

[tmc2209 extruder]
uart_pin: octo:PC4
##diag_pin: PG6
run_current: 0.85
interpolate: false
sense_resistor: 0.110
#stealthchop_threshold: 999999


[bed_mesh]
speed: 120
horizontal_move_z: 8
mesh_min: 60, 60
mesh_max: 350,350
probe_count: 30,30
algorithm: bicubic
mesh_pps: 2, 3
#bicubic_tension: 0.2

[z_tilt]
z_positions:
  -25,180
  295,180
points:
  30,180
  360,180
retries: 4
retry_tolerance: 0.07
[gcode_macro G29]
gcode: 
  G28
  BED_MESH_CALIBRATE
  BED_MESH_PROFILE SAVE=p1
  G1 X0 Y0 Z5 F4000

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: EPCOS 100K B57560G104F
#control: pid
#pid_Kp: 690.34
#pid_Ki: 111.47
#pid_Kd: 1068.83
min_temp: 0
max_temp: 130

[fan]
pin: PA8
max_power: 0.8 
cycle_time: 0.005 
hardware_pwm: False 
kick_start_time: 0.100 

[resonance_tester]
accel_chip: beacon
probe_points: 180, 180, 20 # This is where the extruder will be positioned during the resonance test.
accel_per_hz: 150 

[filament_switch_sensor switch_sensor]
switch_pin: !octo:PG12
pause_on_runout: False
runout_gcode:
 PAUSE # [pause_resume] is required in printer.cfg
 M117 Filament switch runout
insert_gcode:
 M117 Filament switch inserted


[filament_motion_sensor encoder_sensor]
switch_pin: !octo:PG13
detection_length: 10 # accuracy of motion sensor 2.88mm
extruder: extruder
pause_on_runout: False
runout_gcode:
 PAUSE # [pause_resume] is required in printer.cfg
 M117 Filament encoder runout
insert_gcode:
 M117 Filament encoder inserted


[gcode_arcs]

[input_shaper]
shaper_freq_x: 60.8 #uncomment to enter input shaper x frequency
shaper_freq_y: 62.8 #uncomment to enter input shaper y frequency
shaper_type: mzv #uncomment to enter input shaper type

[screws_tilt_adjust]
screw1: 30, 11
screw1_name: front left screw
screw2: 320, 11
screw2_name: front right screw
screw3: 320, 255
screw3_name: rear right screw
screw4: 30, 255
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.6829859099021134,
#*# 	  2.0141370722135274,
#*# 	  0.7852521202963746,
#*# 	  0.05210167086218292,
#*# 	  -0.19917941077136433,
#*# 	  0.8643284118689346,
#*# 	  0.4908068226085918,
#*# 	  -0.9323448407759197,
#*# 	  -0.15900805279629357,
#*# 	  0.4050219623144591
#*# model_domain = 1.9040965280004885e-07,1.946635411241439e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 40.544413
#*# model_offset = 0.22500
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 55.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 34.601
#*# pid_ki = 0.302
#*# pid_kd = 992.188
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 220.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 18.311
#*# pid_ki = 1.715
#*# pid_kd = 48.867
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.024912, 0.016964, 0.015682, 0.017050, 0.014536, 0.009122, 0.002166, -0.008465, -0.014889, -0.017482, -0.016955, -0.009785, -0.001623, 0.001977, 0.007335, 0.015914, 0.021692, 0.025311, 0.027936
#*# 	  0.022575, 0.017373, 0.013410, 0.013586, 0.013751, 0.008960, -0.002429, -0.009868, -0.010978, -0.018676, -0.019072, -0.008669, 0.004881, 0.003828, 0.012012, 0.025887, 0.022914, 0.027115, 0.035768
#*# 	  0.019746, 0.014799, 0.011203, 0.010346, 0.013760, 0.006874, -0.002920, -0.009911, -0.013828, -0.014791, -0.012852, -0.007965, 0.000674, 0.008628, 0.014623, 0.023146, 0.027592, 0.031045, 0.034891
#*# 	  0.018164, 0.012932, 0.009920, 0.013703, 0.013298, 0.003571, -0.001615, -0.005202, -0.015813, -0.012560, -0.012148, -0.007442, -0.001195, 0.010878, 0.022810, 0.019467, 0.034232, 0.042640, 0.037468
#*# 	  0.017618, 0.015224, 0.017959, 0.017452, 0.018279, 0.014539, 0.004938, -0.003263, -0.005208, -0.009016, -0.009701, -0.004370, 0.005108, 0.012915, 0.020576, 0.029159, 0.037109, 0.042490, 0.048466
#*# 	  0.019837, 0.020767, 0.022163, 0.024839, 0.025067, 0.022160, 0.019086, 0.006464, 0.001324, -0.003328, -0.004885, -0.004580, 0.007440, 0.022618, 0.018739, 0.033475, 0.046306, 0.038557, 0.050181
#*# 	  0.022266, 0.023193, 0.024062, 0.030137, 0.031252, 0.027356, 0.022507, 0.016957, 0.009403, 0.003259, 0.002178, 0.005735, 0.011341, 0.020070, 0.027566, 0.037098, 0.041723, 0.043022, 0.046590
#*# 	  0.025374, 0.025694, 0.027284, 0.029731, 0.032338, 0.032307, 0.021138, 0.017086, 0.012095, 0.001290, 0.009540, 0.018314, 0.021906, 0.018437, 0.028113, 0.042296, 0.039871, 0.042952, 0.048338
#*# 	  0.027300, 0.026403, 0.025351, 0.028714, 0.031463, 0.026678, 0.020009, 0.013208, 0.007790, 0.004413, 0.005186, 0.009170, 0.016666, 0.020405, 0.023466, 0.035907, 0.046292, 0.045098, 0.045585
#*# 	  0.028766, 0.024656, 0.022337, 0.024108, 0.026295, 0.022017, 0.015784, 0.008818, -0.000774, -0.000157, 0.005452, 0.005921, 0.008900, 0.022880, 0.030076, 0.035037, 0.047490, 0.053224, 0.047856
#*# 	  0.031970, 0.027174, 0.025659, 0.026177, 0.028497, 0.024177, 0.015397, 0.008919, -0.000895, 0.000251, 0.002856, 0.005404, 0.014986, 0.026870, 0.032346, 0.039216, 0.048424, 0.052426, 0.054982
#*# x_count = 19
#*# y_count = 11
#*# mesh_x_pps = 2
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 92.5007
#*# max_x = 272.499
#*# min_y = 132.5
#*# max_y = 232.5
